*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* calculator */
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.calculator {
  text-align: center;
  width: fit-content;
  border-radius: 1rem;
  background-color: #73726f;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(224, 182, 182);
}

.btn:active {
  background-color: rgb(190, 142, 142);
}

.calculator__operations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calculator__input {
  width: 80%;
  font-size: 1.8rem;
  margin-top: 0.6rem;
  text-align: right;
}

.operation__show {
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
  width: 80%;
}

.sign-view,
.result-value {
  font-size: 2.6rem;
}
